# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
build/
dist/

# Testing
coverage/
jest/

# Cache files
.cache/
*.cache
*.tmp

# IDE settings
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.swo

# Miscellaneous
*.log
